<div class="row">
  <nb-card>
    <nb-card-body>Hello from ngx-admin Sebas project.</nb-card-body>
  </nb-card>
</div>

<div class="row">
  <ngx-smart-table2></ngx-smart-table2>
  
</div>


<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  
</div>
<div class="row">

  <div class="col-xxxl-9 col-xl-12">
    <ngx-tree-grid></ngx-tree-grid>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>
</div>



